/* You can add global styles to this file, and also import other style files */
/* body{
    background-color: palegoldenrod;
    color: black;
    font-family: Cambria;
    font-size: 18px;
} */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
body {
    background-color: orange;/*palegoldenrod;*/
}

.jumbotron{
    background-color:orange;
    height: 50px;
    vertical-align: top;
}

th{
    text-align:center;
}

.bgColorForPage{
    background-color:palegoldenrod;
}